@import "./variables.scss";

.card-details {
  display: flex;
  flex-flow: column nowrap;
  &.desktop {
    overflow-y: scroll;
    padding-right: 15px;
  }
  .bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-bottom: 15px;
    .upload {
      margin-right: 12px;
    }
  }
  .info {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-flow: column nowrap;
    .title {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      &.desktop {
        margin-top: 25px;
        margin-bottom: 25px;
      }
      &.mobile {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    .details {
      display: flex;
      justify-content: space-between;
      &.desktop {
        flex-flow: row nowrap;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      &.mobile {
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .count {
        display: flex;
        flex-flow: row nowrap;
        .separator {
          margin-right: 10px;
        }
      }
      .margin-bottom {
        margin-bottom: 15px;
      }
    }
  }
  .line {
    border: 1px solid $primary-brown;
    width: 100%;
    margin-bottom: 25px;
  }
  .maps {
    border-radius: 15px;
    margin-bottom: 25px;
  }
}
