@import "./variables.scss";
@import "./styles.scss";

.textbox {
  background: $primary-black;
  border: 1px solid $secondary-black;
  border-radius: 15px;
  padding: 14px;
  display: flex;
  flex-flow: column wrap;
  &-title {
    display: flex;
    color: $secondary-purple;
    margin-bottom: 8px !important;
  }
  &-box {
    background-color: $primary-black;
    border: none;
  }

  ::placeholder {
    font-weight: 500;
    color: $primary-gray;
  }
}
