@import "./variables.scss";

.card {
  background-color: $secondary-color;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  &.desktop {
    height: 94%;
    width: 850px;
    padding: 15px 25px;
    margin: 30px 0px;
  }
  &.mobile {
    width: 100%;
    margin: 20px 0px;
    padding: 10px 10px;
  }
}
