@import "./variables.scss";

.card {
  background-color: $secondary-color;
  border-radius: 15px;
  padding: 25px 15px;
  margin: 30px 0px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  width: 50%;
}
