@import "./variables.scss";
@import "./styles.scss";

.sidenav-container {
  padding: 68px 24px;
  background-color: $secondary-color;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  .item {
    margin-bottom: 30px;
  }
  .split {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .subitem {
      flex-basis: 47%;
    }
  }
}
