@import "./variables.scss";
@import "./styles.scss";

.button {
  &:hover {
    opacity: 0.8;
  }
  &.red {
    background-color: $primary-red;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }
  &.purple {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: $primary-purple;
  }
  &.transparent {
    padding: 15px 30px;
    background-color: transparent;
  }
}
