@import "./variables.scss";

.card-list {
  height: 100%;
  &.desktop {
    overflow-y: scroll;
    padding-right: 15px;
  }
  .item {
    display: flex;
    margin-top: 30px;
    padding: 20px;
    background-color: $tertiary-color;
    border-radius: 15px;
    cursor: pointer;
    &.desktop {
      flex-flow: row nowrap;
      margin-top: 30px;
      padding: 20px;
    }
    &.mobile {
      flex-flow: column nowrap;
      margin-top: 15px;
      padding: 10px;
    }
    .img {
      flex: 20%;
      position: relative;
      img {
        max-width: 100%;
      }
      &-logo {
        position: absolute;
        margin: 12px;
      }
    }
    .info {
      flex: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      &.desktop {
        margin: 10px 0px 10px 40px;
      }
      &.mobile {
        margin: 10px 0px;
        .margin-bottom {
          margin-bottom: 10px;
        }
      }
      .count {
        display: flex;
        flex-flow: row nowrap;
      }
      .envelope {
        align-self: flex-end;
        margin-top: -30px;
      }
    }
  }
}
