@import "./variables.scss";
@import "./styles.scss";

html,
body,
#root {
  height: 100%;
  overflow-y: hidden;
}

* {
  font-family: "Roboto", sans-serif;
  color: $primary-white;
}

input,
select {
  width: 100%;
  padding: 0;
}

select {
  margin-left: -4px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-color;
}

input:focus,
select:focus {
  outline: none;
}
