@import "./variables.scss";

a {
  text-decoration: none;
  color: $primary-white;
}

::-webkit-scrollbar {
  width: 8px;
  &-track {
    background: $primary-black;
  }
  &-thumb {
    background: $secondary-gray;
    border-radius: 15px;
    &:hover {
      background: $primary-gray;
    }
  }
}

.heading-1 {
  font-weight: bold;
  font-size: 21px;
  line-height: 23px;
}

.heading-2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
}

.heading-3 {
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
}

.paragraph-1 {
  font-size: 12px;
  line-height: 13px;
}

.subtitle-1 {
  font-size: 10px;
  line-height: 10px;
}

.price-tag {
  font-weight: 700;
  font-size: 19px;
  line-height: 21px;
}

.bold {
  font-weight: bold;
}

.no-bold {
  font-weight: normal;
}
