$primary-color: #2d232b;
$secondary-color: #201b20;

$primary-purple: #93227f;
$secondary-purple: #ca18aa;

$primary-white: #f9f3fa;

$primary-black: #0c0b0b;
$secondary-black: #000000;

$primary-gray: #b8afb6;

$primary-red: #d41553;
